h1 {
    background-color: #f775d7;
    color: #ffffff;
    padding: 5px;
  }

  .title {
    font-size: 65px;
    color: #bde219;
  }

  p {
      font-size: 44px;
  }

  body {
      background-color: papayawhip;

  }